<div class="contact row">
 <div class="col-sm-6">
    <div class="introtext">
     <p>Wir stehen Ihnen mit fachkundigem Wissen und hochwertiger Umsetzung für die Realisierung Ihrer projekte zur Seite.</p>
     <p>Für Fragen und Angebote können Sie sich jederzeit unverbindlich bei uns melden.
     Wir freuen uns Ihre Wünsche Wirklichkeit werden zu lassen.
     </p>
   </div>
 </div>
  <div class="col-sm-6">
    <div class="contact-information">
      <h3>Schreinerei Mitterndorfer GmbH</h3><br>
        Klaus Mitterndorfer<br>
        Berger Str. 45<br>
        94099 Ruhstorf<br>
        Tel.: +49 8534 / 319<br>
        Fax: 08534 / 96 98 92<br>
        info@schreinerei-mitterndorfer.de
    </div>
  </div>
</div>