<div class="navigation">
    <div class="max-width">
        <ul class="navigation-list">
            <li class="navigation-item first" ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li class="navigation-item" ui-sref-active="active"><a ui-sref="gallery({filter: ''})">M&ouml;belfertigung</a></li>
            <li class="navigation-item" ui-sref-active="active"><a ui-sref="gallery({filter: 'exterior'})">Au&szlig;enbereich</a></li>
            <li class="navigation-item last" ui-sref-active="active"><a ui-sref="contact">Kontakt</a></li>
        </ul>
    </div>
</div>